body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
div#fixedheader {
	position:fixed;
	font: bold Large 'thoma',helvetica,sans-serif;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:30px;
}
div#fixedfooter {
	position:fixed;
   font: bold Large 'thoma',helvetica,sans-serif;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:30px;
}