.roster {
  background: blue;
  color: White;
  font: bold small 'thoma',helvetica,sans-serif;
  border:1px solid;   
  border-color: #696 #363 #363 #696;
  text-align: center;
  padding: 10px 20px;
  -moz-border-radius: 2px;
  border-radius: 15px;
  cursor: pointer;
  width: 415px; 
  height: 40px;
  
  }
  
  .roster :hover 
   {
   background: #ffffb3; 
   }
